<html lang="en" xmlns:th="http://thymeleaf.org">
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-primary"
		th:fragment="navFragment">
		<button class="navbar-toggler" data-toggle="collapse"
			data-target="#collapse_target">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapse_target">
			<ul class="navbar-nav nav-fill w-100">

				<li class="nav-item"><a class="nav-link" href="/"
					style="color: white"><i class="fa fa-fw fa-home"></i>&nbsp;Home</a>
				</li>

				<li class="nav-item"><a class="nav-link" href="volume"
					style="color: white">Volume</a>
				</li>
				<li class="nav-item"><a class="nav-link"
					href="footprint" style="color: white">Footprint</a>
				</li>
				<li class="nav-item" style="border: none;"><a class="nav-link"
					href="floorarea" style="color: white">Floor Area</a>
				</li>
			</ul>
		</div>
	</nav>
	
	<!--footer starts from here-->
<footer class="footer dark" style="background-color:#272525;" th:fragment="footerFragment">
<div class="container bottom_border">
<div class="row">
<div class=" col-sm-4 col-md col-sm-4  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2" style="font-family: 'Exo 2', sans-serif;">Find us</h5>
<!--headin5_amrc-->
<p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
<p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
<p><i class="fa fa-phone"></i>  +91-9999878398  </p>
<p><i class="fa fa fa-envelope"></i> info@example.com  </p>


</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2" style="font-family: 'Exo 2', sans-serif;">Quick links</h5>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
<li><a href="http://kalarikendramdelhi.com">Image Rectoucing</a></li>
<li><a href="http://kalarikendramdelhi.com">Clipping Path</a></li>
<li><a href="http://kalarikendramdelhi.com">Hollow Man Montage</a></li>

</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2" style="font-family: 'Exo 2', sans-serif;">Quick links</h5>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
<li><a href="http://kalarikendramdelhi.com">Remove Background</a></li>
<li><a href="http://kalarikendramdelhi.com">Shadows & Mirror Reflection</a></li>
<li><a href="http://kalarikendramdelhi.com">Logo Design</a></li>

</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2" style="font-family: 'Exo 2', sans-serif;">Follow us</h5>
<!--headin5_amrc ends here-->

<ul class="footer_ul2_amrc">
<li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>

</ul>
<!--footer_ul2_amrc ends here-->
</div>
</div>
</div>


<div class="container">
<ul class="foote_bottom_ul_amrc" >
<li><a href="http://kalarikendramdelhi.com">Home</a></li>
<li><a href="http://kalarikendramdelhi.com">About</a></li>
<li><a href="http://kalarikendramdelhi.com">Services</a></li>
<li><a href="http://kalarikendramdelhi.com">Pricing</a></li>
<li><a href="http://kalarikendramdelhi.com">Blog</a></li>
<li><a href="http://kalarikendramdelhi.com">Contact</a></li>
</ul>
<!--foote_bottom_ul_amrc ends here-->
<p class="text-center">Copyright @2017 | Designed With by <a href="#">Your Company Name</a></p>

<ul class="social_footer_ul">
<li><a href="http://kalarikendramdelhi.com"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="http://kalarikendramdelhi.com"><i class="fab fa-twitter"></i></a></li>
<li><a href="http://kalarikendramdelhi.com"><i class="fab fa-linkedin"></i></a></li>
<li><a href="http://kalarikendramdelhi.com"><i class="fab fa-instagram"></i></a></li>
</ul>
<!--social_footer_ul ends here-->
</div>

</footer>
</body>
</html>