<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">
<title th:text="${pageTitle}">Disney</title>
</head>
<body>
	<div class="container">



		<nav th:replace="layouts/nav :: navFragment"></nav>
		<div class="jumbotron jumbotron-fluid">
			<div class="container text-center">

				<h1 th:text="${headingOne} + ' ' + Dwarfs" class="display-4">Generic
					Title</h1>
				<h3>
					<a href="disney">Disney</a> <a>|</a> <a href="tolkien">Tolkien</a>
				</h3>


			</div>
		</div>

		<div class="alert alert-success" role="alert" th:if="${message}">
			<p th:text="${message}"></p>
		</div>
		
										<p>
			<a href='#' th:href="@{/add/}">Add new Dwarf</a>
		</p>


		<div class="container">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Author</th>
						<th>Image</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="dwarf: ${dwarfs}">
						<td th:text="${dwarf.name}"></td>
						<td th:text="${dwarf.author}"></td>
						<td><img src="../static/images/Happy.png"
							th:src="@{/images/}+${dwarf.image}"></img></td>

						<td><a href="#" th:href="@{/view/} + ${dwarf.dwarfId}">View</a>
							<a href="#" th:href="@{/edit/} + ${dwarf.dwarfId}">Edit</a> <a
							href="#" th:href="@{/delete/} + ${dwarf.dwarfId}">Delete</a></td>

					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<script src="js/jquery.slim.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>