<html lang="en" xmlns:th="http://thymeleaf.org">
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-primary"
		th:fragment="navFragment">
		<button class="navbar-toggler" data-toggle="collapse"
			data-target="#collapse_target">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapse_target">
			<ul class="navbar-nav nav-fill w-100">

				<li class="nav-item"><a class="nav-link" href="/"
					style="color: white"><i class="fa fa-fw fa-home"></i>&nbsp;Home</a>
				</li>

				<li class="nav-item"><a class="nav-link" href="/disney"
					style="color: white"><i class="fa fa-fw fa-photo"></i>&nbsp;Disney</a>
				</li>
				<li class="nav-item" ><a class="nav-link"
					href="/tolkien" style="color: white"><i
						class="fa fa-fw fa-envelope"></i>&nbsp;Tolkien</a></li>
						
										<li class="nav-item" style="border: none;"><a class="nav-link"
					href="/dwarfs" style="color: white"><i
						class="fa fa-fw fa-envelope"></i>&nbsp;All Dwarfs</a></li>

			</ul>
		</div>
	</nav>
</body>
</html>