<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/styles.css" rel="stylesheet">
<title>Weather</title>
</head>
<body>
	<div class="container">
		<nav th:replace="layouts/nav :: navFragment"></nav>
		<div class="jumbotron jumbotron-fluid">
			<div class="container text-center">

				<h1 class="display-4">Events</h1>


			</div>
		</div>

		<div class="container">

			<table class="table table-striped" id="myTable">
				<thead>
					<tr>

						<th>Identifier</th>

						<th>Start Date</th>


						<th>Venue</th>

						<th></th>



					</tr>
				</thead>
				<tbody>

					<tr th:each="event: ${events}">
						<td th:text="${event.identifier}"></td>
						<td th:text="${#dates.format(event.startDate, 'dd/MM/yyyy')}">31/12/2017</td>



						<td th:text="${event.venue}"></td>

						<td><a href="view.html">View</a></td>

						<!-- 						<td th:switch="${event.venueUrl}"> -->
						<!-- 						<p th:case="''" th:text="${event.venue}">Venue has no link</p> -->
						<!-- 						<p th:case="*"> -->
						<!-- 						<a href="" th:href="${event.venueUrl}" th:text="${event.name}"></a> -->
						<!-- 						</td> -->

					</tr>
				</tbody>
			</table>

		</div>
		<footer class="section footer-classic context-dark bg-image"
			style="background: #204060;">
			<div class="container">
				<center>
					<div class="row row-30">

						<div class="col-md-4">
							<br>
							<h5>Plan Your Trip</h5>
							<ul class="nav-list">
								<li><a href="#">Areas</a></li>
								<li><a href="#">Getting Around</a></li>
								<li><a href="#">Maps</a></li>
								<li><a href="#">Travel Tips</a></li>

							</ul>

						</div>
						<div class="col-md-4">
							<br>
							<h5>Stay</h5>
							<ul class="nav-list">
								<li><a href="#">Camping</a></li>
								<li><a href="#">Guest Houses</a></li>
								<li><a href="#">Hostels</a></li>
								<li><a href="#">Hotels</a></li>
							</ul>
						</div>
						<div class="col-md-4">
							<br>
							<h5>Contact Us</h5>
							<dl class="contact-list">
								<dt>Address:</dt>
								<dd>
									Queens Road, Belfast,<br> BT1 1TD
								</dd>
							</dl>
							<dl class="contact-list">
								<dt>email:</dt>
								<dd>
									<a href="mailto:#">ExploreBelfast.com</a>
								</dd>
							</dl>
							<dl class="contact-list">
								<dt>Phone:</dt>
								<dd>
									<a href="tel:#">(028) 90123456</a>
								</dd>
							</dl>
						</div>
					</div>
				</center>
			</div>

		</footer>

	</div>
	<script>
		function myFunction() {
			var input, filter, table, tr, td, i, txtValue;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[2];
				if (td) {
					txtValue = td.textContent || td.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
						tr[i].style.display = "none";
					}
				}
			}
		}
	</script>
	<script src="/js/jquery.slim.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>


</body>
</html>